In [65]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [66]:
df = pd.read_csv('cardekho_dataset.csv')

In [67]:
df.head()

,Unnamed: 0,car_name,brand,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,0,Maruti Alto,Maruti,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,1,Hyundai Grand,Hyundai,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,2,Hyundai i20,Hyundai,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,3,Maruti Alto,Maruti,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,4,Ford Ecosport,Ford,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15411 entries, 0 to 15410
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         15411 non-null  int64
 1   car_name           15411 non-null  object
 2   brand              15411 non-null  object
 3   model              15411 non-null  object
 4   vehicle_age        15411 non-null  int64
 5   km_driven          15411 non-null  int64
 6   seller_type        15411 non-null  object
 7   fuel_type          15411 non-null  object
 8   transmission_type  15411 non-null  object
 9   mileage            15411 non-null  float64
 10  engine             15411 non-null  int64
 11  max_power          15411 non-null  float64
 12  seats              15411 non-null  int64
 13  selling_price      15411 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 1.6+ MB

In [69]:
df.isnull().sum()

Unnamed: 0           0
car_name             0
brand                0
model                0
vehicle_age          0
km_driven            0
seller_type          0
fuel_type            0
transmission_type    0
mileage              0
engine               0
max_power            0
seats                0
selling_price        0
dtype: int64

In [70]:
print(df.describe)

<bound method NDFrame.describe of        Unnamed: 0         car_name     brand     model  vehicle_age  \
0               0      Maruti Alto    Maruti      Alto            9
1               1    Hyundai Grand   Hyundai     Grand            5
2               2      Hyundai i20   Hyundai       i20           11
3               3      Maruti Alto    Maruti      Alto            9
4               4    Ford Ecosport      Ford  Ecosport            6
...           ...              ...       ...       ...          ...
15406       19537      Hyundai i10   Hyundai       i10            9
15407       19540    Maruti Ertiga    Maruti    Ertiga            2
15408       19541      Skoda Rapid     Skoda     Rapid            6
15409       19542  Mahindra XUV500  Mahindra    XUV500            5
15410       19543       Honda City     Honda      City            2

       km_driven seller_type fuel_type transmission_type  mileage  engine  \
0         120000  Individual    Petrol            Manual    19.70     796
1          20000  Individual    Petrol            Manual    18.90    1197
2          60000  Individual    Petrol            Manual    17.00    1197
3          37000  Individual    Petrol            Manual    20.92     998
4          30000      Dealer    Diesel            Manual    22.77    1498
...          ...         ...       ...               ...      ...     ...
15406      10723      Dealer    Petrol            Manual    19.81    1086
15407      18000      Dealer    Petrol            Manual    17.50    1373
15408      67000      Dealer    Diesel            Manual    21.14    1498
15409    3800000      Dealer    Diesel            Manual    16.00    2179
15410      13000      Dealer    Petrol         Automatic    18.00    1497

       max_power  seats  selling_price
0          46.30      5         120000
1          82.00      5         550000
2          80.00      5         215000
3          67.10      5         226000
4          98.59      5         570000
...          ...    ...            ...
15406      68.05      5         250000
15407      91.10      7         925000
15408     103.52      5         425000
15409     140.00      7        1225000
15410     117.60      5        1200000

[15411 rows x 14 columns]>

In [71]:
#removing unneccesary columns
df.drop('car_name',axis=1,inplace=True)
df.drop('brand',axis=1,inplace=True)

In [72]:
# Drop the 'Unnamed: 0' column
df.drop('Unnamed: 0', axis=1, inplace=True)

In [73]:
df.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats,selling_price
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5,120000
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5,550000
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5,215000
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5,226000
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5,570000

In [74]:
df['model'].unique()

array(['Alto', 'Grand', 'i20', 'Ecosport', 'Wagon R', 'i10', 'Venue',
       'Swift', 'Verna', 'Duster', 'Cooper', 'Ciaz', 'C-Class', 'Innova',
       'Baleno', 'Swift Dzire', 'Vento', 'Creta', 'City', 'Bolero',
       'Fortuner', 'KWID', 'Amaze', 'Santro', 'XUV500', 'KUV100', 'Ignis',
       'RediGO', 'Scorpio', 'Marazzo', 'Aspire', 'Figo', 'Vitara',
       'Tiago', 'Polo', 'Seltos', 'Celerio', 'GO', '5', 'CR-V',
       'Endeavour', 'KUV', 'Jazz', '3', 'A4', 'Tigor', 'Ertiga', 'Safari',
       'Thar', 'Hexa', 'Rover', 'Eeco', 'A6', 'E-Class', 'Q7', 'Z4', '6',
       'XF', 'X5', 'Hector', 'Civic', 'D-Max', 'Cayenne', 'X1', 'Rapid',
       'Freestyle', 'Superb', 'Nexon', 'XUV300', 'Dzire VXI', 'S90',
       'WR-V', 'XL6', 'Triber', 'ES', 'Wrangler', 'Camry', 'Elantra',
       'Yaris', 'GL-Class', '7', 'S-Presso', 'Dzire LXI', 'Aura', 'XC',
       'Ghibli', 'Continental', 'CR', 'Kicks', 'S-Class', 'Tucson',
       'Harrier', 'X3', 'Octavia', 'Compass', 'CLS', 'redi-GO', 'Glanza',
       'Macan', 'X4', 'Dzire ZXI', 'XC90', 'F-PACE', 'A8', 'MUX',
       'GTC4Lusso', 'GLS', 'X-Trail', 'XE', 'XC60', 'Panamera', 'Alturas',
       'Altroz', 'NX', 'Carnival', 'C', 'RX', 'Ghost', 'Quattroporte',
       'Gurkha'], dtype=object)

In [75]:
#imputing the clomuns(numerical,categorical,discrete,continous)
num_features = [feature for feature in df.columns if df[feature].dtype !='O']
print(len(num_features))
cat_features = [feature for feature in df.columns if df[feature].dtype == 'O']
print(len(cat_features))
dis_features = [feature for feature in num_features if len(df[feature].unique())<=25]
print(len(dis_features))
con_features = [feature for feature in num_features if feature not in dis_features]
print(len(con_features))

7
4
2
5

In [76]:
from sklearn.model_selection import train_test_split
x = df.drop(['selling_price'],axis=1)
y = df['selling_price']

In [77]:
x.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,Alto,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,Grand,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,i20,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,Alto,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,Ecosport,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [78]:
len(df['model'].value_counts())

120

In [79]:
from sklearn.preprocessing import  LabelEncoder
le = LabelEncoder()
x['model'] = le.fit_transform(x['model'])

In [80]:
x.head()

,model,vehicle_age,km_driven,seller_type,fuel_type,transmission_type,mileage,engine,max_power,seats
0,7,9,120000,Individual,Petrol,Manual,19.70,796,46.30,5
1,54,5,20000,Individual,Petrol,Manual,18.90,1197,82.00,5
2,118,11,60000,Individual,Petrol,Manual,17.00,1197,80.00,5
3,7,9,37000,Individual,Petrol,Manual,20.92,998,67.10,5
4,38,6,30000,Dealer,Diesel,Manual,22.77,1498,98.59,5

In [81]:
print(len(df['seller_type'].value_counts()))
print(len(df['fuel_type'].value_counts()))
print(len(df['transmission_type'].value_counts()))

3
5
2

In [82]:
##column tranformation
num_features = x.select_dtypes(exclude="object").columns
onehot_columns = ['seller_type','fuel_type','transmission_type']
from sklearn.preprocessing import OneHotEncoder,StandardScaler
from sklearn.compose import ColumnTransformer
numeric_tranformer = StandardScaler()
ohe_tranformer = OneHotEncoder(drop='first')
preprocessor = ColumnTransformer([("OneHotEncoder",ohe_tranformer,onehot_columns),("StandardScaler",numeric_tranformer,num_features)],remainder = 'passthrough')

In [83]:
x = preprocessor.fit_transform(x)

In [84]:
x

array([[ 1.        ,  0.        ,  0.        , ..., -1.32425883,
        -1.26335238, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.43257082, -0.40302241],
       [ 1.        ,  0.        ,  0.        , ..., -0.55471774,
        -0.47911321, -0.40302241],
       ...,
       [ 0.        ,  0.        ,  1.        , ...,  0.02291783,
         0.06822523, -0.40302241],
       [ 0.        ,  0.        ,  1.        , ...,  1.32979434,
         0.91715831,  2.07344426],
       [ 0.        ,  0.        ,  0.        , ...,  0.02099878,
         0.39588361, -0.40302241]])

In [85]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

model training

In [86]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error

In [87]:
#creating a function to evalute the model
def evaluate_model(true,predicted):
    mae = mean_absolute_error(true,predicted)
    mse=mean_squared_error(true,predicted)
    rsme = np.sqrt(mean_squared_error(true,predicted))
    r2_square = r2_score(true,predicted)
    return mse,mae,rsme,r2_square

In [88]:
models = {
    "LinearRegression": LinearRegression(),
    "DecisionTreeRegressor":DecisionTreeRegressor(),
    "K-NeighborsRegressor":KNeighborsRegressor(),
    "Ridge":Ridge(),
    "Lasso":Lasso(),
    "RandomForestRegressor":RandomForestRegressor(),
    "AdaBoostRegressor" : AdaBoostRegressor()
    
}

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(x_train,y_train)
    
    y_train_pred = model.predict(x_train)
    y_test_pred = model.predict(x_test)
    
    model_train_mse,model_train_mae,model_train_rsme,model_train_r2 = evaluate_model(y_train,y_train_pred)
    model_test_mse,model_test_mae,model_test_rsme,model_test_r2 = evaluate_model(y_test,y_test_pred)
    
    print(list(models.keys())[i])
    
    
    print("model performance for training set")
    print("root mean squared error:{:.4f}".format(model_train_rsme))
    print("mean absolute error:{:.4f}".format(model_train_mae))
    print("r2 score:{:.4f}".format(model_train_r2))


    print("model performance for test set")
    print("root mean squared error:{:.4f}".format(model_test_rsme))
    print("mean absolute error:{:.4f}".format(model_test_mae))
    print("r2 score:{:.4f}".format(model_test_r2))
    
    print("=" * 35)
    print("\n")

LinearRegression
model performance for training set
root mean squared error:553855.6665
mean absolute error:268101.6071
r2 score:0.6218
model performance for test set
root mean squared error:502543.5930
mean absolute error:279618.5794
r2 score:0.6645
===================================


DecisionTreeRegressor
model performance for training set
root mean squared error:20797.2352
mean absolute error:5164.8199
r2 score:0.9995
model performance for test set
root mean squared error:311899.4831
mean absolute error:125603.8410
r2 score:0.8708
===================================


K-NeighborsRegressor
model performance for training set
root mean squared error:325873.0088
mean absolute error:91425.4705
r2 score:0.8691
model performance for test set
root mean squared error:253024.3951
mean absolute error:112526.3461
r2 score:0.9150
===================================


Ridge
model performance for training set
root mean squared error:553856.3160
mean absolute error:268059.8015
r2 score:0.6218
model performance for test set
root mean squared error:502533.8230
mean absolute error:279557.2169
r2 score:0.6645
===================================


Lasso
model performance for training set
root mean squared error:553855.6710
mean absolute error:268099.2226
r2 score:0.6218
model performance for test set
root mean squared error:502542.6696
mean absolute error:279614.7461
r2 score:0.6645
===================================


RandomForestRegressor
model performance for training set
root mean squared error:129892.5337
mean absolute error:39925.5909
r2 score:0.9792
model performance for test set
root mean squared error:226459.9544
mean absolute error:101389.8683
r2 score:0.9319
===================================


AdaBoostRegressor
model performance for training set
root mean squared error:447629.0761
mean absolute error:326810.9848
r2 score:0.7529
model performance for test set
root mean squared error:482680.9130
mean absolute error:347421.9814
r2 score:0.6905
===================================

In [89]:
import joblib

# Save Random Forest model
joblib.dump(models["RandomForestRegressor"], "random_forest_model.joblib")

# Save preprocessing objects
joblib.dump(le, "label_encoder.joblib")
joblib.dump(preprocessor, "preprocessor.joblib")

['preprocessor.joblib']